.first{
    background-image: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
background-color: black
}

.mainPage {
    text-align:center;
    color: white;
    padding-top: 25px;
}

h1{
   font-size: 2em;
padding-bottom: 20px;
}

.headerBackground{
    background-color: black !important;
   
}





.name-text {
    padding: 0px 5px;
color: white;
    position: relative;
    
}

.nav-link{
  color: white !important;
}
.toggle{
    background-color: white!important; 
color:white !important;
}