.background {
  /* border-top: solid 2px white; */
  background-image: url('./../Images//landingBR.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  
}

h1{
  margin: 0px;
}
.welcome{
  font-size: 3rem;
  padding-top: 50px;
  text-align: center;
  color: white;
}